[v-cloak] {
    display: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 400;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kaushan Script', cursive;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 500;
}

.text-light {
    color: #ffffff !important;
}

.bg-primary {
    background-color: #FED2EB !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.btn-dark {
    background-color: #000000 !important;
    border-color: #000000;
}

.btn-dark:hover {
    background-color: #ffffff !important;
    color: #000000
}

.btn {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 2rem;
    padding: .6rem 1.5rem .6rem 1rem;
    border-width: 4px;
}

.border {
    border-width: 5px !important;
    border-color: #ffffff !important;
}

footer {
    margin-top: 2rem;
    padding: 2rem;
    color: #ffffff;
    font-size: 1.2rem;
}

.component-about-me {
    font-size: 1.25rem;
}

.component-about-me .h2 {
    font-size: 34px;
}

.component-about-me .h5 {
    font-size: 20px;
}

.component-about-me .small {
    font-size: 85%;
    line-height: 21px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.component-about-me .awatar {
    background-color: #ffffff;
    background-image: url('../images/emi_autoportret.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}

.component-about-me h1 + .rounded {
    padding: 2rem;
    line-height: 24px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .component-about-me .awatar {
        min-height: 550px;
    }
}

@media (min-width: 992px) {
    .component-about-me .swing {
        transform-origin: center -20px;
        float: left;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        animation: swing1 ease-in-out 1s infinite alternate;
    }
    .component-about-me .swing img {
        border: 5px solid #f8f8f8;
        display: block;
    }
    .component-about-me .swing:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid #999;
        top: -10px;
        left: 50%;
        z-index: 0;
        border-bottom: none;
        border-right: none;
        transform: rotate(45deg);
    }
    .component-about-me .swing:before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        top: -1rem;
        left: 50%;
        z-index: 5;
        border-radius: 50% 50%;
        background: #ffffff;
        margin-left: .5rem;
    }
    @keyframes swing1 {
        0% {
            transform: rotate(1deg);
        }
        100% {
            transform: rotate(-1deg);
        }
    }
}

.component-gallery {
    border-top: 2rem solid #000000;
}

.component-gallery .box {
    background-color: #000000;
    background-size: 120% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    margin: 1rem 0;
    transition: background-size .15s ease-in;
    -moz-transition: background-size .15s ease-in;
    -web-kit-transition: background-size .15s ease-in;
    padding-top: 56.25%;
    position: relative;
}

.component-gallery .box:hover {
    background-color: rgb(0, 0, 0, .25);
    background-blend-mode: color;
    background-size: 100% auto;
}

.component-navigation {
    border-bottom: 1px solid #000000;
}

.component-navigation .nav-item > a{
   margin-left: .5rem;
   margin-bottom: .5rem;
}

@media (max-width: 992px) {
    .component-navigation .nav-item > a{
        width: 100%;
    }
}

.component-navigation,
.component-navigation svg,
.component-navigation .nav-item > a {
    transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -web-kit-transition: all .15s ease-in;
}

.shrink.component-navigation {
    background-color: #000000!important;
}

.shrink.component-navigation svg {
    fill: #ffffff;
    height: 50px;
    width: 50px;
}

.shrink.component-navigation .nav-item > a {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
}

.shrink.component-navigation .navbar-toggler {
    background-color: #ffffff;
}

@media (min-width: 992px) and (max-width: 1470px) {
    .component-navigation .nav-item > a{
        font-size: 1rem;
        padding: 1rem;
    }
}

.social-media a {
    display: inline-block;
    padding: .4rem .5rem;
    cursor: pointer;
}

.locale-changer {
    position: fixed;
    z-index: 9999;
    bottom: 1rem;
    right: 1rem;
}